<form>
  <div class='field'>
    <div class='field'>
      <label class='label'>Add Comment</label>
      <div class='control'>
        <input
          class='input is-large'
          id='title'
          type='text'
          value=''
          placeholder='e.g. Great post, love it !'
          required
        />
      </div>
    </div>
  </div>
  <div class='field'>
    <div class='buttons'>
      <button id='create-blog' , class='button is-medium is-success'>Add Comment</button>
    </div>
  </div>
</form>