<div class='message'>
  <div class='message-header'>
    <span class='strong'>
      <figure class='bd-tw-avatar'>
        <img
          class='lazyload'
          src='https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
        />
      </figure><div class='ml-2 bold'>{{user.name}}</div></span>
    commented on
    {{format_time createdAt}}
    <div class='dropdown post-options'>
      <div class='dropdown-trigger'>
        <button
          class='button'
          aria-haspopup='true'
          aria-controls='dropdown-menu-post'
        >
          <span class='icon is-small'>
            <i class='fas fa-ellipsis-h' aria-hidden='true'></i>
          </span>
        </button>
      </div>
      <div class='dropdown-menu' id='dropdown-menu-post' role='menu'>
        <div class='dropdown-content'>
          <a href='#' class='dropdown-item'>
            Update
          </a>
          <a class='dropdown-item'>
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='message-body'>
    {{comment_text}}
  </div>
</div>