<form>
  <div class='field'>
    <div class='field'>
      <label class='label'>Comments</label>
      <div class='control'>
        <textarea
          class='textarea'
          id='comment'
          type='text'
          value=''
           {{#if signedIn}}
                  placeholder='e.g. Great article !'
                  {{/if}}
          required
        {{#if loggedOut}}
        placeholder='Sign in to comment'
          disabled
        {{/if}}
        /></textarea>
        <footer class="">
          <a class="" target="_blank" href="https://guides.github.com/features/mastering-markdown/">
            Styling with Markdown is supported
          </a>
        </footer>
      </div>
    </div>
  </div>
                  {{#if signedIn}}
  <div class='field'>
    <div class='buttons'>
      <button id='create-comment' , class='button is-medium is-success'>Add
        Comment</button>
    </div>
  </div>
    {{/if}}
</form>