<div class='message'>
  <div class='message-header'>
    <span class='strong'>{{user.name}}</span>
    commented on
    {{format_time createdAt}}
  </div>
  <div class='message-body'>
    {{comment_text}}
  </div>
</div>