<nav class='navbar has-shadow is-dark'>
  <div class='container'>
    <section class='navbar-brand'>
      <a class='navbar-item' href='./index.html'>
        <span class='icon is-size-4'>
          <i class='fab fa-rocketchat'></i>
        </span>
        <small class='is-large ml-2'>Tech Blog</small>
      </a>

      <div class='navbar-burger burger'>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section
      class='navbar-menu menu-container overflow-hidden is-light is-flex-desktop is-align-content-center'
    >
      <section class='navbar-end menu'>
        <a class='navbar-item' href='/'>
          <span class='icon'>
            <i class='fa fa-home'></i>
          </span>
          <span> Home</span>
        </a>
        <a class='navbar-item' href='/login' target='_blank'>
          <span class='icon'>
            <i class='fas fa-sign-in-alt'></i>
          </span>
          <span> Login</span>
        </a>
        <a class='navbar-item' href='/register' target='_blank'>
          <span class='icon'>
            <i class='fas fa-user-plus'></i>
          </span>
          <span> Sign-up</span>
        </a>
      </section>
    </section>
  </div>
</nav>