<nav class='navbar has-shadow'>
  <div class='container'>
    <section class='navbar-brand'>
      <a class='navbar-item' href='/'>
        <span class='icon is-size-4'>
          <i class='fab fa-rocketchat'></i>
        </span>
        <small class='is-large ml-2'>Tech Blog</small>
      </a>

      <div class='navbar-burger burger'>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section
      class='navbar-menu menu-container overflow-hidden is-flex-desktop is-align-content-center'
    >
      <section class='navbar-end menu'>
        <a class='navbar-item btn btn-border-underline' href='/'>
          <span class='icon'>
            <i class='fa fa-home'></i>
          </span>
          <span> Home</span>
        </a>
        <a
          class='navbar-item btn btn-border-underline'
          href='/dashboard'
          target=''
        >
          <span class='icon'>
            <i class='fa fa-book'></i>
          </span>
          <span> Dashboard</span>
        </a>
        {{#if loggedOut}}
          <a
            class='navbar-item btn btn-border-underline'
            href='/register'
            target=''
          >
            <span class='icon'>
              <i class='fas fa-user-plus'></i>
            </span>
            <span> Sign-up</span>
          </a>
          <a
            class='navbar-item btn btn-border-underline'
            href='/login'
            target=''
          >
            <span class='icon'>
              <i class='fas fa-sign-in-alt'></i>
            </span>
            <span> Login</span>
          </a>
        {{/if}}

        {{#if signedIn}}
          <a
            class='navbar-item btn btn-border-underline'
            id='log-out'
            href='/register'
            target=''
          >
            <span class='icon'>
              <i class='fas fa-user-plus'></i>
            </span>
            <span> Log-out</span>
          </a>
        {{/if}}
      </section>
    </section>
  </div>
</nav>