{{> navbar}}

    <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <form id="register-form" action="" class="box">
                    <div class="field">
                        <label for="username" class="label">Username</label>
                        <div class="control has-icons-left">
                          <input type="username" placeholder="e.g. bobsmith" class="input" id="username" required>
                          <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                      </div>
                    <div class="field">
                    <label for="email" class="label">Email</label>
                    <div class="control has-icons-left">
                      <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" id="email" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" id="password" minlength="8" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                    <div class="field">
                    <label for="confirm-password" class="label">Confirm password</label>
                    <div class="control has-icons-left">
                      <input type="password" placeholder="*******" class="input" id="confirm-password" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label for="" class="checkbox">
                      <input type="checkbox">
                     Remember me
                    </label>
                  </div>
                  <div class="field">
                    <button type="submit" class="button is-success">
                      Register
                    </button>
                </form>
                                            <div class="link">
            <div class="">
              <div>
                <a href="/login">Log in to your account</a>
              </div>
            </div>
          </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
</section>
{{> footer}}
    <script type="module" src='/js/register.js'></script>
                <script type="module" src='/js/toggleNavbar.js'></script>