{{> navbar}}
<div class="container">
{{#each blogsData}}
{{> article}}
{{/each}}
        {{#if permission}}
<a href="/api/blogs/edit/{{blogsData.[0].id}}" class="button is-success">Edit</a>
<button class="delete-btn button is-success">Delete</button>
        {{/if}}
{{> comment}}
{{#each comments}}
{{> commentCard}}
{{/each}}
</div>
    <script type="module" src='/js/createComment.js'></script>