{{> navbar}}
<div class="container">
{{#each blogsData}}
{{> blogCard}}
{{/each}}
<a href="" class="button is-success">Edit</a>
<button class="delete-btn button is-success">Delete</button>
{{> comment}}
</div>
    <script type="module" src='/js/createComment.js'></script>